h1{color:blue;background-color:yellow;font-family:verdana;font-size:180%;font-weight:bold}
h2{color:purple;background-color:pink;font-family:helvetica;font-size:140%;font-weight:bold}
p{color:green}
h5{color:red}
img{border-style:double;border-width:20px;border-color:red green purple blue}
